<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visiable</title>
    <link rel="stylesheet" href="/css/index.css">
    <style>
        .div{
            width: 100px;
            height: 100px;
            background: #000;
            color:#FFF;
            text-align: center;
            line-height:100px;
            margin:10px;
        }
    </style>
</head>
<body>
    <div class="div visible-xs">visible-xs</div>
    <div class="div visible-sm">visible-sm</div>
    <div class="div visible-md">visible-m</div>
    <div class="div visible-lg">visible-lg</div>
    <div class="div visible-xs visible-sm">visible-xs visible-sm</div>
    <div class="div visible-xs visible-md">visible-xs visible-md</div>
    <div class="div visible-xs visible-lg">visible-xs visible-lg</div>
    <div class="div visible-sm visible-lg">visible-sm visible-lg</div>
    <div class="div visible-md visible-lg">visible-md visible-lg</div>

    <!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>    -->
</body>
</html>